<!--NOTE: wird aufgerufen, wenn die indexAction des StoreInventory controllers getriggered wird. -->

<f:if condition="{messageText}">
      <p id="operationMsg"><em>{messageText} the item <strong>"{messageProduct.name}"</strong></em></p>
</f:if>

<!--NOTE: um fluid-variablen auch in dem Partial verwenden zu können, muss man sie hier übergeben! -->
<f:render partial="Page/Table" arguments="{_all}"/>

<br>

<!--Ist der user als frontend user eingeloggt?-->
<f:security.ifAuthenticated>
    <f:form.validationResults>
        <!-- does the array "errors" contain a value? -->
        <f:if condition="{validationResults.flattenedErrors}">
            <!-- get the "error" array. The key is the property path and the value is an array of errors. -->
            <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                <ul class="formValidationErrorResult" style="display: none">{propertyPath}<f:for each="{errors}" as="error"><li>{error.code}: {error.message}</li></f:for></ul>
            </f:for>
        </f:if>
    </f:form.validationResults>

    <!-- NOTE: wenn man name="argument" benutzt, wird das argument beim aufruf richtig gemappt. arguments="" wie bei einem link
         bringen gar nichts! -->
    <!-- NOTE: name="the argument of the action" in .form und property setzt das argument!! -->
    <f:form name="product" controller="StoreInventory" action="add">
        <f:form.textfield property="name" id="addProductForm_name" placeholder="Name" />
        <p id="addProductFormErr_name"></p> <br />
        <f:form.textarea property="description" id="addProductForm_description" placeholder="Description" />
        <p id="addProductFormErr_description"></p> <br />
        <f:form.textfield property="quantity" id="addProductForm_quantity" placeholder="Quantity" type="number" />
        <p id="addProductFormErr_quantity"></p> <br />
        <f:form.textfield property="delieveryTime" id="addProductForm_delieveryTime" placeholder="Delievery time" type="number" />
        <p id="addProductFormErr_delieveryTime"></p> <br />
        <!-- categoryOptions ist ein azzoiatives array, wo der key der wert des arguments ist, und das value, was man auswählen kann -->
        <f:form.select name="category" options="{categoryOptions}" />

        <f:form.submit value="Add"/>
    </f:form>
</f:security.ifAuthenticated>

<br>
<br>
<f:security.ifAuthenticated>
    <f:then>
        <p>Your are an editor!</p>

        <!-- kopiert vom logout form ;) -->
        <form action="/en/page-1/page-175" target="_top" method="post">
            <fieldset>
                <legend>Logout</legend>
                <div>
                    <input type="submit" name="submit" value="Logout" />
                </div>
                <div class="felogin-hidden">
                    <input type="hidden" name="logintype" value="logout" />
                    <input type="hidden" name="pid" value="8" />
                    <input type="hidden" name="tx_felogin_pi1[noredirect]" value="0" />
                </div>
            </fieldset>
        </form>


        <f:link.action action="index" id="redirectLinkThing" style="display: none"></f:link.action>
    </f:then>
    <f:else>
        <p>You are a visitor!</p>
        <f:link.page pageUid="5">Anmelden</f:link.page>
    </f:else>
</f:security.ifAuthenticated>