<h2>{userGroupName}</h2>

<table border="1" cellspacing="1" cellpadding="5">
    <tr>
        <td><strong>Product name</strong></td>
        <td><strong>Product description</strong></td>
        <td><strong>Quantity</strong></td>
        <td><strong>Time of delievery</strong></td>
        <td><strong>Categories</strong></td>
    </tr>
    <!-- The template for the class StoreRepository (the folder name) and the action index (method in class) -->
    <f:debug>{_all}</f:debug>
    <f:for each="{products}" as="product">
        <tr>
            <td align="top">{product.name}</td>
            <td align="top"><f:format.crop maxCharacters="100">{product.description}</f:format.crop></td>
            <td align="top">{product.quantity}</td>
            <td align="top">{product.delieveryTime}</td>
            <td align="top">
                <f:for each="{product.categories}" as="category">
                    {category.name},
                </f:for>
            </td>
            <f:if condition="{loggedIn}">
                <td algin="top">
                    <f:link.action controller="StoreInventory" action="remove" arguments="{product: product}">
                        <strong>-</strong>
                    </f:link.action>
                </td>
            </f:if>
        </tr>
    </f:for>
</table>